.navigation-panel {
  display: none;

}

@media screen and (max-width: 768px) {
  .navigation-panel {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navigation-panel__menu {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 159px 90px 90px 90px;
    width: 520px;
    min-height: 100vh;

    background-color: #202020;

  }

  .navigation-panel__wrapper {
    flex: 1 1 auto;
  }

  .navigation-panel__button-close {
    position: absolute;
    background-image: url("../../images/button-close.svg");
    top: 22px;
    right: 22px;
    width: 22px;
    height: 22px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.7s ease-out;

  }


  .navigation-panel__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }

  .navigation-panel__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    
    color: white;
    border-bottom: 2px solid transparent;
    transition: opacity 0.7s ease-out;

  }

  .navigation-panel__link:hover {
    border-bottom: 2px solid #fff;
  }

  .navigation-panel__account-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 32px;
    cursor: pointer;
    transition: opacity 0.7s ease-out;
  }

}

@media screen and (max-width: 576px) {
  .navigation__menu {
    padding: 144px 10px 46px 10px;
    width: 100%;
  }

  .navigation__overlay-container {
    display: none;
  }

  .navigation__links {
    gap: 15px;
  }
}