.page {
  background-color: white;
  min-height: 100vh;
  color: #fff;

}

.page__content {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  background-color: #202020;
}

.hover:hover {
  opacity: 0.7;
	cursor: pointer;
}
