.header {
  padding: 0 70px;
  min-height: 74px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__landing-color {
  background-color: #073042;
}

.header__logo {
  width: 38px;
  height: 38px;
  display: block;
}

.header__container-sign {
  align-items: end;
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.header__container_movies {
  display: flex;
  gap: 16px;
  padding-left: 44px;
}

.header__button {
  min-height: 32px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.7s ease-out;
}




.header__button-in {
  min-width: 76px;
  border-radius: 3px;
  color: #000;
  background-color: #3ddc84;
  display: grid;
  text-align: center;
}

.header__container-account {
  margin-left: auto;
  transition: opacity 0.7s ease-out;
width: 114px;
height: 54px;
}

.header__account-image {

}

/* .header__account-button {
  margin-left: auto;
  width: 100px;
  height: 32px;

} */



.header__button-menu {
  display: none;
}







@media screen and (max-width: 1023px) {
  .header {
    padding: 0 30px;
  }

  .header__button-container_films {
    display: none;
  }

  .header__account-button {
    display: none;
  }

  .header__menu-button {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 0 14px;
  }

  .header__button-container {
    gap: 14px;
  }

  .header__button {
    min-height: 26px;
    font-size: 10px;
    line-height: 16px;
  }

  .header__button-black {
    min-width: 54px;
  }
}