.header {
  padding: 0 70px;
  min-height: 74px;
  display: flex;
  align-items: center;
  position: relative;
}

.header-color {
  background-color: #073042;
}

.header__logo {
  width: 38px;
  height: 38px;
  display: block;
}

.header__container-sign {
  align-items: end;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-left: auto;
}

.header__container-movies {
  display: flex;
  gap: 16px;
  padding-left: 44px;
}

.header__button {
  min-height: 32px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.7s ease-out;
}

.header__button-in {
  min-width: 76px;
  border-radius: 3px;
  color: #000;
  background-color: #3ddc84;
  display: grid;
  text-align: center;
}

.header__container-account {
  margin-left: auto;
  transition: opacity 0.7s ease-out;
  width: 114px;
  height: 54px;
}

.header__button-menu {
  display: none;
}

@media screen and (max-width:860px) {
  .header {
    padding: 0 30px 10px 30px;
  }

  .header__button {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .header__account-button {
    display: none;
  }

  .header__container-movies {
    display: none;
  }

  .header__container-account {
    width: 44px;
    height: 44px;
  }

  .header__button-menu {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
  }

  .header__button-menu_image {
    cursor: pointer;
    transition: opacity 0.7s ease-out;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 0 14px;
  }

  .header__container-sign {
    height: 26px;
    width: 54px;
    margin-left: auto;
    gap: 24px;
  }

  .header__button {
    min-width: 54px;
    min-height: 26px;
    font-size: 10px;
    line-height: 16px;
  }

  .header__button-menu {
    padding-left: 5px;
    height: 40px;
    width: 43px;
  }

  .header__button-menu_image {
    width: 37px;
  }
}